.green{
    color: white;
    background-color: green;
}

.purple{
    color: white;
    background-color: purple;
}

.white{
    color: deepskyblue;
    background-color: lightgrey;
}


.dark{
    color: white;
    background-color: black;
}

.greenBTN{
    color: white;
    background-color: green;
}

.purpleBTN{
    color: white;
    background-color: purple;
}

.whiteBTN{
    color: deepskyblue;
    background-color: lightgrey;
}


.darkBTN{
    color: white;
    background-color: black;
}



